{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-fasilkom" class="list-group">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: 'GET',
                url: '{% url "lab-7:get-friend-list" %}',
                success: function (data) {
                    arr = data["results"];
                    $.each(arr, function (index){
                        nama = arr[index].friend_name
                        npm = arr[index].npm
                        var button =
                            '<span class="pull-right">'
                                + '<span class="btn btn-xs btn-default" onclick="deleteFriend(this)" id="btn_'+npm+'">'
                                    + ' Delete from friend list '
                                + '</span>'
                            + '</span>'

                        html =
                            '<a class="list-group-item clearfix" id='+npm+'>'
                                + nama + ' (' + npm + ')' + button
                            + '</a>';

                        $('#friend-fasilkom').append(html);
                    })
                },
                error: function(error){
                    html = '<button class="btn btn-danger"> Error </button>';
                    $("#friend-fasilkom").append(html);
                }
            });
        });

        var deleteFriend = function(e) {
            var btn_id = $(e).attr('id')
            var npm = btn_id.replace('btn_','')
            var el = document.getElementById(npm)
            console.log(npm)
            console.log(el)
            $.ajax({
                method: "POST",
                url: "{% url 'lab-7:delete-friend' %}",
                data: { friend_id : npm },
                success: function () {
                    alert("sukses hapus teman")
                    el.remove()
                },
                error : function (error) {
                    alert(error.responseText)
                }
            });
        };
    </script>
{% endblock %}
